*{
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
     
}
img{
      max-width: 100%;
      height: auto;
      -o-object-fit: cover;
         object-fit: cover;
      background-size: cover;
      background-position: center; 
}
.banner-service {
    width: 100%; }
  
  .main-service {
    display: inline-block;
    width: 100%; }
    .main-service img {
      max-width: 100%; }
  
  a {
    text-decoration: none !important; }
  
  .clear-padding-left {
    padding-left: 5px;
    padding-right: 0; }
  
  .news-title {
    background-color: #fff;
    width: 100%;
    display: inline-block;
    padding: 6px 10px 0; }
    .news-title ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .news-title ul li {
        bottom: 0;
        color: #444;
        float: left; }
        .news-title ul li span {
          font-size: 14px;
          color: #444;
          line-height: 37px; }
  
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  
  .content-news {
    background: #fff;
    display: inline-block;
    padding: 13px;
    width: 100%; }
    .content-news h1 {
      border-bottom: 1px solid #ccc;
      color: #666;
      display: block;
      font-size: 18px;
      margin: 0;
      padding-bottom: 7.5px; }
    .content-news .blog {
      display: inline-block;
      margin: 10px 0;
      width: 100%; }
  
  #author {
    font-size: 12px; }
  
  #thumbnails img {
    display: inline;
    vertical-align: initial; }
  
  p {
    margin: 0 0 10px; }
  
  #bailienquanhacongty {
    background: #fff;
    margin: 5px 0;
    height: 271px; }
  
  .relate h2 {
    border-bottom: 1px solid #eee;
    color: #444;
    display: block;
    font-size: 16px;
    padding-bottom: 7.5px;
    padding-top: 10px;
    text-transform: uppercase; }
  .relate ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .relate ul li {
      width: 100%;
      float: left; }
      .relate ul li a {
        color: #456272;
        font-size: 14px;
        line-height: 27px;
        display: inline;
        padding-left: 20px; }
        .relate ul li a:hover {
          background: url(../images/cube_orange.gif) 1px center no-repeat;
          color: #ce2951; }
  
.main .img{
  text-align: center;
}
.main .center {
  text-align: center;
}

.main .clear{
  border-bottom: 1px dashed rgb(214, 213, 213);

}

  @media (max-width: 720px) {
    .newListBlock .item .description img {
      width: 100%;
      margin: 0 0 5px; } }
  @media only screen and (max-width: 720px) and (min-width: 320px) {
    .clear-padding-right {
      display: none; }
  
    #bailienquanhacongty {
      background: #fff;
      height: 265px; } }
  @media (max-width: 1024px) and (min-width: 992px) {
    .main-service .news-title {
      width: 91%;
      margin-left: 64px; }
    .main-service .content-news {
      margin-left: 65px;
      width: 91%; }
    .main-service #bailienquanhacongty {
      background: #fff;
      margin-left: 67px;
      width: 91%;
      height: 265px; }
      .main-service #bailienquanhacongty a {
        padding: 0; } }
  @media (max-width: 768px) and (min-width: 720px) {
    .main-service .news-title {
      margin-left: 115px;
      width: 79%; }
    .main-service .content-news {
      margin-left: 110px;
      width: 80%; }
  
    #bailienquanhacongty {
      background: #fff;
      margin-left: 109px;
      width: 80%;
      height: 265px; }
      #bailienquanhacongty a {
        padding: 0; } }
  
  /*# sourceMappingURL=hinhanhcongty.css.map */